---
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../data/site";

const description = site.description;
---

<BaseLayout title="varnish" description={description}>
  <h1 class="name">varnish</h1>
  <p class="intro-meta">
    <span>21 y/o</span>
    <span aria-hidden="true">·</span>
    <span>software engineering student</span>
    <span aria-hidden="true">·</span>
    <span>tampere, finland</span>
  </p>
  <p class="intro-text">
    hi, i'm a varnish. i'm doing my bachelors in software engineering at tampere university of applied sciences.
    i love solving problems and building things areound random ideas, annoyances, or rabbit holes i fall into.
    i'm also interested in finance. outside of coding, i'm probably watching formula 1, reading a book, watching a show
    or playing flight sim.
  </p>
</BaseLayout>
