---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <p>&copy; {year} Varnish Das</p>
  <p class="site-footer__hint">
    press <kbd class="keycap">?</kbd> for shortcuts
  </p>
</footer>
